.t-login {
	width: 100%;
	margin: 0 auto;
	font-size: 28rpx;
}
// .t-login button {
// 	font-size: 28rpx;
// 	background: #000;
// 	color: #fff;
// 	height: 90rpx;
// 	line-height: 90rpx;
// 	border-radius: 50rpx;
// }
.t-login input {
	padding: 0 20rpx 0 120rpx;
	height: 90rpx;
	line-height: 90rpx;
	margin-bottom: 50rpx;
	background: #fff;
	font-size: 28rpx;
	border-radius: 50rpx;
}
.t-login .t-a {
	position: relative;
}
.t-login .t-a .image {
	width: 60rpx;
	height: 40rpx;
	position: absolute;
	left: 40rpx;
	top: 28rpx;
	border-right: 2rpx solid #dedede;
	font-size: 40rpx;
}
.t-login .t-b {
	text-align: center;
	font-size: 46rpx;
	color: #000;
	padding: 100rpx 0;
}
.t-login .t-c {
	position: absolute;
	right: 22rpx;
	top: 22rpx;
	color: #fff;
	font-size: 24rpx;
	border-radius: 50rpx;
	height: 50rpx;
	line-height: 50rpx;
	padding: 0 25rpx;
}
.t-login .t-d {
	text-align: center;
	color: #999;
	margin: 80rpx 0;
}
.t-login .t-e {
	text-align: center;
	width: 250rpx;
	margin: 80rpx auto 0;
}
.t-login .t-g {
	float: left;
	width: 50%;
	flex:1;
}
.t-login .t-e image {
	width: 50rpx;
	height: 50rpx;
}
.t-login .t-e.cl {
	display:flex;
}
.t-login .t-f {
	text-align: center;
	margin: 80rpx 0 0 0;
	color: #666;
}
.t-login .t-f text {
	margin-left: 8rpx;
	color: #999;
}

.cl {
	zoom: 1;
}
.cl:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: '\20';
}