.page-wrap {
	background-color: #f1f1f1;
	::v-deep swiper.rectangle-dot{
		.wx-swiper-dot,.a-swiper-dot,.uni-swiper-dot{
			width: 30upx;
			background-color: #ffffff;
			opacity: 0.8;
			height: 10upx;
			border-radius:0;
			margin: 0 !important;
			&+.wx-swiper-dot,&+.a-swiper-dot,&+.uni-swiper-dot{
				margin-left: 2rpx!important;
			}
		}
	}
}