.cu-dialog {
	.voice-modal {
		padding: 20rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 500rpx;
		.loading {
			//loading动画
			display: flex;
			justify-content: center;
			@keyframes stretchdelay {
				0%,
				40%,
				100% {
					transform: scaleY(0.6);
				}
				20% {
					transform: scaleY(1);
				}
			}
			.spinner {
				margin: 20upx 0;
				width: 60upx;
				height: 100upx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.rect {
					background-color: #f06c7a;
					height: 50upx;
					width: 6upx;
					border-radius: 6upx;
					animation: stretchdelay 1.2s infinite ease-in-out;
				}
				.rect2 {
					animation-delay: -1.1s;
				}
				.rect3 {
					animation-delay: -1s;
				}
				.rect4 {
					animation-delay: -0.9s;
				}
				.rect5 {
					animation-delay: -0.8s;
				}
			}
		}
		.cu-btn {
			& + .cu-btn {
				margin-left: 20rpx;
			}
		}
	}
	&.bottom-modal {
		padding: 0 0 50rpx;
	}
	background-color: #fff;
	.form-item-content_value {
		// width: 100%;
		padding: 20rpx;
	}
	.dialog-button {
		display: flex;
		justify-content: space-around;
		margin-bottom: 40rpx;
		.cu-btn {
			min-width: 45%;
		}
	}
	.textarea {
		width: 100%;
		border-radius: 10rpx;
		margin: 20rpx auto;
		padding: 20rpx;
		min-height: 300px;
		text-align: left;
		text-indent: 40rpx;
		color: #000000;
		background-color: #f1f1f1;
	}
}
.form-item {
	display: flex;
	flex-wrap: wrap;
	min-height: 100rpx;
	align-items: center;
	// background-color: #fff;
	padding: 10rpx;
	position: relative;
	&.form-detail {
		min-height: 80rpx;
		align-items: center;
	}
	&.flex-column {
		flex-direction: column;
		.form-item-content {
			width: calc(100% - 40rpx);
		}
	}
	.valid_msg {
		width: 100%;
		color: #f76260;
		text-indent: 220rpx;
		font-size: 24rpx;
	}
	&::after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		right: 16px;
		bottom: 0;
		left: 16px;
		border-bottom: 1px solid #ebedf0;
		transform: scaleY(0.5);
	}
	.form-item-label {
		display: flex;
		min-width: 200rpx;
		padding: 20rpx 10rpx;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: #666;
		font-size: var(--global-label-font-size);
		white-space: normal;
		align-items: center;
		.cuIcon-titles {
			transform: scale(0.8);
		}
		&.form-detail {
			padding: 0 10rpx;
		}
		&.label-top {
			width: 100%;
			padding: 10rpx 10rpx;
		}
		.is-required {
			display: inline-flex;
			align-items: center;
			width: 20rpx;
		}
	}
	.form-item-content_value.checkbox-group {
		margin-top: 50rpx;
	}
	.form-item-content {
		flex: 1;
		display: flex;
		flex-wrap: nowrap;
		padding: 20rpx 0;
		padding-left: 20rpx;
		color: #000;
		font-size: var(--global-text-font-size);
		overflow: hidden;
		&.label-top {
			padding: 0 20rpx 20rpx;
			.form-item-content_value.checkbox-group {
				margin-top: 10rpx;
			}
		}
		&.form-detail {
			padding: 0;
		}
		&.valid_error {
			border: 1rpx dashed #f37b1d;
			margin-bottom: 10rpx;
		}
		.form-item-content_detail {
			&.image {
				width: 200rpx;
				height: 200rpx;
			}
			&.text {
				overflow: scroll;
			}
		}
		.form-item-content_value {
			min-height: 1.4em;
			position: relative;
			font: inherit;
			display: flex;
			flex: 1;
			align-items: center;
			.textarea-content {
				width: 100%;
				background-color: #f1f1f1;
				border-radius: 10rpx;
				min-height: 150rpx;
				padding: 20rpx;
			}
			&.slider {
				display: flex;
				height: 80rpx;
				align-items: center;
				.operate {
					display: inline-block;
					padding: 5rpx 20rpx;
					background-color: #f1f1f1;
					position: relative;
					font-size: 40rpx;
					&.active {
						transition: all 0.2s;
						transform: scale(1.2);
					}
					&::before {
						content: '';
						width: 130%;
						height: 130%;
						top: -15%;
						left: -15%;
						position: absolute;
					}
				}
				.uni-slider {
					flex: 1;
				}
			}
			&.picker {
				margin-right: 20px;
				.uni-picker {
					width: 100%;
					.picker-content {
						width: 100%;
						display: flex;
						justify-content: space-between;
					}
				}
				.value {
					max-width: 400rpx;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				&:active {
					background-color: #f1f1f1;
					transition: all 0.5s ease-out;
				}
			}
			.place-holder {
				color: grey;
				overflow: hidden;
				text-overflow: clip;
				word-break: keep-all;
				pointer-events: none;
				padding: 0 10rpx;
			}
			.value {
				padding: 0 10rpx;
			}
		}
	}
	.icon-area {
		display: inline-flex;
		align-content: center;
		text-align: left;
		padding: 20rpx;
		font-size: 40rpx;
	}
	.tree-selector {
		height: calc(90vh - var(--window-top) - var(--window-bottom));
		display: flex;
		flex-direction: column;
		margin-top: 20rpx;
		.content {
			flex: 1;
			background-color: #fff;
			.bx-radio-group {
				margin: 0 20rpx;
			}
			.button-mode {
				margin-bottom: 10rpx;
			}
		}
	}
}
.button-box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 40rpx 0;
	.button {
		min-width: 45%;
	}
}