.page-wrap {
	background-color: #f1f1f1;
		&.onlyCurrentPage {
			height: calc(100vh - var(--window-top) - 50px);
			overflow: scroll;
		}
		
		::v-deep swiper.rectangle-dot{
			.wx-swiper-dot,.a-swiper-dot,.uni-swiper-dot{
				width: 30upx;
				background-color: #ffffff;
				opacity: 0.8;
				height: 10upx;
				border-radius:0;
				margin: 0 !important;
			}
		}
	}
	.page-content{
		background-color: #f1f1f1;
	}
	.header-wrap {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		.hospital-top {
			background-color: #fff;
			padding: 30rpx 28rpx 0;
			display: flex;
			margin-bottom: 20rpx;
			position: relative;
			padding-top: 20rpx;
			flex-wrap: wrap;

			.instroduce {
				width: 65%;
				background-color: #f8f8f8;
				border-radius: 10rpx;
				padding:10rpx 20rpx;
				margin:20rpx  0 ;
				flex: 1;
				max-height: 140rpx;
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp:3; /**指定行数*/
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.home-btn {
				font-weight: bold;
				text-align: center;
				position: absolute;
				height: 30px;
				top: -32px;
				right: 0px;

				.cu-btn {
					border-radius: 20px 0 0 20px;
					font-size: 20px;
					font-weight: 300;
				}

				&.like-btn {
					top: -70px;
				}
			}

			.logo {
				width: 120rpx;
				height: 120rpx;
				border-radius: 20rpx;
				margin-right: 20rpx;
				font-size: 60rpx;
				font-weight: bold;
				line-height: 100rpx;
				text-align: center;
				// position: absolute;
				border: 4rpx solid #fff;
			}

			.left {
				display: flex;
				flex-direction: column;
				width: calc(100% - 150rpx);
				.top {
					display: flex;
					justify-content: space-between;
					padding-right: 20rpx;
					.name {
						width: 500rpx;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: wrap;
						font-size: 32rpx;
						color: #333;
						font-weight: bold;
						flex: 1;
					}
					.tags {
						display: flex;
						.tag {
							display: inline-block;
							margin-left: 10rpx;
							padding: 5rpx 10rpx;
							background-color: #0ea8ff;
							color: #fff;
							border-radius: 10rpx;
						}
					}
				}

				.bottom {
					padding-top: 10rpx;
					color: #aaa;

					.address {
						width: 100%;
						display: flex;
						align-items: center;
						.cuIcon-locationfill{
							position: relative;
							top: -10px;
						}
						.content {
							flex: 1;
							overflow: hidden;
							text-overflow: ellipsis;
							// white-space: nowrap;
						}
					}
				}
			}

			.right {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				top: -5px;
				margin-left: 20rpx;
				.right-item {
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 12px;
					position: relative;
				}
				.image-box{
					position: relative;
				}
				.image {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50px;
					height: 50px;
					font-size: 20px;
					color: #00aaff;
					padding: 5px;
				}
			}
		}

		.menu-list {
			display: flex;
			flex-wrap: wrap;
			background-color: #fff;
			margin-bottom: 20rpx;
			.swiper {
				width: 100%;
				height: 130px;
			}
			.swiper-item{
				width: 100%;
				display: flex;
				padding: 20rpx 20rpx 0;
			}
			.menu-item {
				width: calc(25% - 15px/4);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: #f3f3f3;
				border-radius: 5px;
				margin-left: 5px;
				padding: 30rpx 20rpx;
				margin-bottom: 10px;
				position: relative;

				&:nth-child(4n+1) {
					margin-left: 0;
				}

				.icon {
					width: 30px;
					height: 30px;
					font-size: 30px;
					text-align: center;
					line-height: 100rpx;
				}

				.title,
				.label {
					// display: flex;
					// align-items: flex-end;
					text-align: center;
					min-height: 70rpx;
					margin-top: 10rpx;
					font-size: 14px;
				}
			}
		}

		.introduction {
			// 简介
			background-color: #fff;
			padding: 20rpx;
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
			margin-bottom: 20rpx;
			
			.title {
				font-size: 28rpx;
				font-weight: 700;
				padding: 10rpx 0;
				color: rgb(48, 49, 51);
			}

			.news-list {
				.news-item {
					display: flex;
					padding: 20rpx 0;
					border-bottom: 1rpx solid #f1f1f1;
					align-items: center;

					.title-text {
						width: 70%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.content-box {
						flex: 1;
						display: flex;
						flex-direction: column;
					}

					.date {
						color: #ccc;
					}

					&.none-image {
						// 无图
						flex-direction: column;
						align-items: flex-start;

						.title-text {
							font-size: 16px;
							width: 100%;
							white-space: normal;
							margin-bottom: 10px;
						}

						.date {
							font-size: 12px;
						}
					}

					&.layout-right-image,
					&.layout-left-image {
						// 左图
						flex-direction: row;
						flex-wrap: wrap;

						.content-box {
							min-height: 150rpx;
						}

						.image-icon {
							width: 200rpx;
							height: 150rpx;
							border-radius: 5px;
						}

						.title-text {
							margin-left: 20rpx;
							width: calc(100% - 250rpx);
							flex: 1;
						}

						.date {
							margin-left: 20rpx;
						}
					}

					&.layout-right-image {
						// 右图
						flex-direction: row-reverse;

						.title-text {
							margin-left: 0;
							width: calc(100% - 250rpx);
							flex: 1;
						}

						.date {
							margin-left: 0;
						}
					}
				}
			}

			.content {
				padding: 0 10px;

				.rich-text {
					min-height: 100rpx;
					overflow: scroll;
					transition: all 0.2s linear;

					.see-more {
						background: linear-gradient(rgba(255, 255, 255, 0.5), #fff);
						color: #888;
						text-align: center;
						position: relative;
						top: -10px;
						z-index: 2;
					}
				}

				.group-box {
					width: 100%;

					.group-item {
						width: 25%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;

						.image {
							width: 100rpx;
							height: 100rpx;
							font-size: 40px;
							text-align: center;
							border-radius: 10rpx;
							background-color: #f1f1f1;
							margin-bottom: 10rpx;
						}

						.label {
							color: #888;
						}
					}
				}

				.depart-box {
					width: 100%;
					text-align: left;

					.depart-item {
						text-indent: 0;
						border-radius: 10rpx;
					}
				}

				.professor-box {
					display: flex;
					flex-direction: column;

					.professor-item {
						padding: 10rpx 0;
						margin: 10rpx;
						display: flex;
						align-items: center;

						.img {
							width: 100rpx;
							height: 100rpx;
							border-radius: 10rpx;
							margin-right: 20rpx;
						}

						.doc-info {
							display: flex;
							flex-direction: column;
							flex: 1;

							.top {
								display: flex;

								.doc-name {
									font-size: 34rpx;
									letter-spacing: 5rpx;
								}

								.titleDn {
									font-size: 28rpx;
									margin-left: 30rpx;
									display: flex;
									align-items: flex-end;
									color: #999;
								}
							}

							.center {
								.depart-name {
									font-size: 26rpx;
									color: #5e5e5e;
									padding: 2px 0;
								}
							}

							.bottom {
								// max-height: 100rpx;
								overflow: hidden;
								text-overflow: -o-ellipsis-lastline;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								color: #afafaf;
								font-size: 24rpx;
							}
						}
					}
				}
			}
		}
	}

	.bottom-layer {
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 20rpx;
		z-index: 2;
		background-color: #fff;
		box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);

		.bottom-button {
			flex: 1;
			text-align: center;
			position: relative;

			&+.bottom-button {
				border-left: 1px solid #f1f1f1;
			}

			&:active {
				background-color: #f1f1f1;
			}

			.badge {
				position: absolute;
				left: 10px;
				top: 0;
				border-radius: 50%;
				width: 20px;
				height: 20px;
			}

			.icon {
				font-size: 25px;
			}
		}
	}