.drug-plan {
	min-height: calc(100vh - var(--window-top) - var(--window-bottom));
	background-color: #fff;
	overflow: hidden;
	.main-table {
		display: grid;
		margin: 20rpx;
		grid-template-columns: repeat(2, calc(50% - 0rpx));
		background-color: #b3d8ff33;
		border-radius: 20rpx;
		min-height: 220rpx;
		overflow: hidden;
		.table-item {
			display: flex;
			padding: 10rpx 20rpx;
			line-height: 40rpx;
			color: #333;
			margin-left: -1px;
			margin-top: -1px;
			align-items: center;
			&.wrap-row {
				grid-column-end: 3;
				grid-column-start: 1;
				.label {
					margin-right: 20rpx;
				}
				.value {
					margin: 10rpx 0;
				}
			}
			&.delete {
				justify-content: center;
				grid-column-end: 3;
				grid-column-start: 1;
				background-color: #fff;
				color: #f76260;
				border: 1rpx solid #409eff;
				border-bottom-left-radius: 10rpx;
				border-bottom-right-radius: 10rpx;
			}
			.label {
				// flex: 0.8;
				margin-right: 20rpx;
				display: flex;
				align-items: center;
				.text {
					position: relative;
				}
			}
			.value {
				font-weight: 700;
				flex: 1;
			}
		}
	}
}
.total-title {
	padding: 20rpx 20rpx 0;
	/deep/ .cu-form-group {
		margin: 0;
		padding: 0;
	}
	.child-service-title {
		margin-bottom: 0;
	}
}
.drug-record-timeline {
	.cu-timeline {
		& > .cu-item {
			padding: 20rpx 0rpx 20rpx 90rpx;
		}
		.cu-time {
			width: 150rpx;
			text-align: left;
			&.text-blue {
				color: #0081ff;
			}
		}
		&.none-data {
			display: flex;
			min-height: 200rpx;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: #999;
			font-weight: bold;
		}
	}
	.timeline-content {
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		.timeline-item {
			width: calc(33% - 40rpx/3);
			margin-right: 10rpx;
			margin-bottom: 20rpx;
			padding: 10rpx 20rpx;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
			display: flex;
			flex-direction: column;
			border-radius: 30rpx;
			position: relative;
			overflow: hidden;
			color: #fff;
			text-align: center;
			&:nth-child(3n) {
				margin-right: 0;
			}
			.info {
				margin: 10rpx 0;
				z-index: 2;
			}
			.time {
				z-index: 2;
			}
			.incompltet-view{
				color: #333;
				height: 100%;
				min-height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.delete-bar {
				position: absolute;
				right: 20rpx;
				top: 10rpx;
				z-index: 2;
			}
			.progress {
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 100%;
				transition: all 2s ease-in-out;
				&.bg-blue {
					background-color: #409eff;
				}
			}
		}
		.top {
			display: flex;
			justify-content: space-between;
			.delete-icon {
				font-size: 40rpx;
				transition: 0.5s all ease-in-out;
				&:active {
					transform: scale(1.3);
				}
			}
		}
		.drug-detail {
			display: flex;
			flex-wrap: wrap;
			margin-top: 20rpx;
			.detail-item {
				flex: 1;
				min-width: 45%;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.cuIcon-squarecheck {
					font-size: 40rpx;
					margin-right: 10rpx;
				}
			}
		}
	}
}
.child-service-title {
	width: 100%;
	font-size: 32rpx;
	font-weight: bold;
	margin-bottom: 20rpx;
	position: relative;
	text-indent: 20rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.center-action {
		display: flex;
		align-items: center;
		color: #0081ff;
		padding: 10rpx 0;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.32), 0 0 6px rgba(0, 0, 0, 0.04);
		border-radius: 50rpx;
		padding-right: 20rpx;
		.title-action {
			box-shadow: none;
			border: none;
		}
		.operate {
			&.margin-right-xs {
				margin-right: 15rpx;
			}
			&:active {
				background-color: #f1f1f1;
			}
			// box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.32), 0 0 6px rgba(0, 0, 0, 0.04);
		}
	}
	.title-text {
		margin: 0;
		padding: 0;
		display: inline-block;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 10%;
			height: 80%;
			width: 5px;
			background-color: #0081ff;
			border-radius: 5rpx;
		}
	}
	.title-action {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 20rpx;
		height: 60rpx;
		border-radius: 50rpx;
		border: 1px solid #f1f1f1;
		color: #0081ff;
		transition: all 1s;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
		&:active {
			background-color: #999;
			color: #fff;
		}

		.see-histroy {
			font-size: 24rpx;
			text-indent: 0;
		}
	}
}
.child-service {
	background-color: #fff;
	padding-top: 20rpx;
	.child-service-item {
		padding: 0 20rpx;
		margin-bottom: 40rpx;
		min-height: 220rpx;
		&:first-child {
			min-height: 220rpx;
		}
		.child-service-data-wrap {
			display: grid;
			grid-template-columns: repeat(3, calc(33.33% - 40rpx / 3));
			grid-row-gap: 20rpx;
			grid-column-gap: 20rpx;
			.child-service-data {
				padding: 10rpx 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-radius: 0rpx;
				color: #409eff;
				background: #ecf5ff;
				border-color: #b3d8ff;
				box-shadow: 0px 0px 4px #ecf5ff, 0 0 6px #b3d8ff;
				&:nth-child(2n) {
					margin-right: 0;
				}
				.title {
					width: 100%;
					// text-align: center;
					font-weight: 700;
					padding: 0 10rpx;
					&.align-center {
						text-align: center;
					}
				}
				.detail {
					display: flex;
					flex-wrap: wrap;
					padding: 10rpx;
					font-size: 24rpx;
					.detail-label {
						width: 100%;
					}
					.data-item {
						margin-right: 10rpx;
					}
				}
			}
		}
	}
}
.cu-modal {
	z-index: 900;
	.cu-dialog {
		overflow: initial;
	}
}

.cu-dialog .drug-detail {
	display: flex;
	flex-direction: column;
	padding: 20rpx;
	.button-box {
		margin: 40rpx 0;
	}
	.detail-item {
		display: flex;
		align-items: center;
		padding: 10rpx 0;
		&.border-bottom {
			border-bottom: 2rpx dashed #ccc;
			padding-bottom: 20rpx;
		}
		&.column {
			flex-direction: column;
			align-items: flex-start;
			// &:last-child{
			// 	border-top: 2rpx dashed #ccc;
			// }
		}
		&.item-title {
			justify-content: space-between;
			margin-bottom: 20rpx;
			.value {
				font-weight: bold;
				color: #0bc99d;
				flex: 1;
				text-align: left;
				text-indent: 20rpx;
			}
		}
		.label {
			margin-right: 20rpx;
			font-weight: bold;
			min-width: 150rpx;
			text-align: left;
			// font-size: 24rpx;
			// text-align: left;
		}
		.value {
			text-align: left;
			.spec {
				display: inline-block;
				color: #0bc99d;
				margin-top: 10rpx;
				padding: 0 10rpx;
			}
			&.input {
				flex: 1;
				margin: 10rpx;
				width: 200rpx;
				display: flex;
				text-align: center;
				align-items: center;
				.input {
					display: inline-block;
					width: 100rpx;
					margin-right: 10rpx;
				}
				.operate {
					display: inline-block;
					color: #fff;
					background-color: rgba(11, 201, 157, 0.7);
					// background-color: #bababa;
					width: 100rpx;
					height: 80rpx;
					line-height: 80rpx;
					margin-right: 10rpx;
					border-radius: 30rpx;
					transition: all 0.5s;
					cursor: pointer;
					&.disabled {
						background-color: #dcdfe6;
						cursor: no-drop;
						color: #bcbec2;
					}
					&:active {
						transform: scale(1.1);
					}
				}
			}
		}
		.icon {
			width: 50rpx;
			height: 50rpx;
			margin-right: 50rpx;
		}
	}
}
.inspect-record {
	width: 100%;
	background-color: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 80vh;
	.selector-wrap {
		overflow: scroll;
		flex: 1;
	}
	.title {
		width: 100%;
		text-align: center;
		font-size: 36rpx;
		font-weight: 700;
		padding: 20rpx;
	}
	.button-box {
		// position: absolute;
		// bottom: 20rpx;
		.cu-btn {
			width: 45%;
		}
	}
}
